p.caption {
  color: #888;
  margin-top: 10px;
}
h1, h2, h3 {
  color: #9D6853;  /* 标题颜色 */
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


h5 {
  background-color: #f2f2f2; /* 浅灰色背景 */
  padding: 5px; /* 可选：为标题添加内边距 */
  border-radius: 10px; /* 可选：为标题添加圆角 */
}

a {
  text-decoration: none;  /* 去掉链接下划线 */
}

.highlighted-text {
  background-color: #7c6f41; /* 灰色背景 */
  color: white; /* 白色文字 */
  padding: 10px 5px; /* 上下10px，左右5px的内边距 */
  margin: 10px 0; /* 上下增加10px的外边距 */
  border-radius: 15px; /* 可选的圆角边框 */
}



